BODY {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial
}
TR {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial
}
TABLE {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial
}
TH {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial
}
P {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial
}
BODY {
	SCROLLBAR-FACE-COLOR: #7ea8ef; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffd7a5; SCROLLBAR-3DLIGHT-COLOR: #ffd7a5; SCROLLBAR-ARROW-COLOR: #ffd7a5; SCROLLBAR-TRACK-COLOR: #7ea8ef; SCROLLBAR-DARKSHADOW-COLOR: #7ea8ef
}
FORM {
	MARGIN: 0px
}
A {
	COLOR: #003c5e; TEXT-DECORATION: none
}
A:link {
	COLOR: #003c5e; TEXT-DECORATION: none
}
A:active {
	COLOR: #003c5e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003c5e; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ef6d00; TEXT-DECORATION: underline
}
INPUT {
	BORDER-RIGHT: #6bAAef 1px solid; BORDER-TOP: #6bAAef 1px solid; FONT: 11px tahoma, verdana, arial; BORDER-LEFT: #6bAAef 1px solid; COLOR: #000000; BORDER-BOTTOM: #6bAAef 1px solid; BACKGROUND-COLOR: #eeeeee
}
TEXTAREA {
	BORDER-RIGHT: #6bAAef 1px solid; BORDER-TOP: #6bAAef 1px solid; FONT: 12px tahoma, verdana, arial; BORDER-LEFT: #6bAAef 1px solid; COLOR: #000000; BORDER-BOTTOM: #6bAAef 1px solid; BACKGROUND-COLOR: #eeeeee
}
SELECT {
	BORDER-RIGHT: #6bAAef 1px solid; BORDER-TOP: #6bAAef 1px solid; FONT: 11px tahoma, verdana, arial; BORDER-LEFT: #6bAAef 1px solid; COLOR: #000000; BORDER-BOTTOM: #6bAAef 1px solid; BACKGROUND-COLOR: #eeeeee
}
.selects {
	BORDER-RIGHT: #6bAAef 1px solid; BORDER-TOP: #6bAAef 1px solid; FONT: 10px tahoma, verdana, arial; BORDER-LEFT: #6bAAef 1px solid; WIDTH: 170px; BORDER-BOTTOM: #6bAAef 1px solid
}
.sinput {
	BORDER-RIGHT: #b9b9b9 1px solid; BORDER-TOP: #b9b9b9 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #b9b9b9 1px solid; WIDTH: 100%; BORDER-BOTTOM: #b9b9b9 1px solid; FONT-FAMILY: tahoma, verdana, arial
}
HR {
	BORDER-RIGHT: #7ea8ef 0px solid; BORDER-TOP: #7ea8ef 1px solid; BORDER-LEFT: #7ea8ef 0px solid; BORDER-BOTTOM: #7ea8ef 0px solid; HEIGHT: 0px
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: tahoma
}
TD.top {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
A.top:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
A.top:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
A.top:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
A.top:hover {
	COLOR: #294a7b; TEXT-DECORATION: none
}
.topmenu {
	FONT-SIZE: 11px; COLOR: #294a7b; FONT-FAMILY: tahoma, verdana, arial
}
.topmenu:hover {
	COLOR: #ef6d00
}
.topsmall {
	FONT-SIZE: 9px; COLOR: #30a1db; FONT-FAMILY: tahoma, verdana, arial
}
.tsmall {
	FONT-SIZE: 9px; COLOR: #5f5f5f; FONT-FAMILY: tahoma, verdana, arial
}
.A_black {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial
}
.A_black:hover {
	COLOR: #30a1db
}
.A_white {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial; TEXT-DECORATION: none
}
A.A_white:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial; TEXT-DECORATION: none
}
A.A_white:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial; TEXT-DECORATION: none
}
A.A_white:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: tahoma, verdana, arial; TEXT-DECORATION: none
}
A.A_white:hover {
	COLOR: #ffffff
}
.storytitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #294a7b; FONT-FAMILY: arial, verdana, tahoma
}
A.storycat:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #294a7b; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.storycat:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #294a7b; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.storycat:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #294a7b; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.storycat:hover {
	COLOR: #000000
}
.grey {
	FONT-SIZE: 11px; COLOR: #5f5f5f; FONT-FAMILY: arial, verdana, tahoma
}
A.grey:link {
	FONT-SIZE: 11px; COLOR: #5f5f5f; FONT-FAMILY: arial, verdana, tahoma; TEXT-DECORATION: none
}
A.grey:active {
	FONT-SIZE: 11px; COLOR: #5f5f5f; FONT-FAMILY: arial, verdana, tahoma; TEXT-DECORATION: none
}
A.grey:visited {
	FONT-SIZE: 11px; COLOR: #5f5f5f; FONT-FAMILY: arial, verdana, tahoma; TEXT-DECORATION: none
}
A.grey:hover {
	FONT-SIZE: 11px; COLOR: #5f5f5f; FONT-FAMILY: arial, verdana, tahoma; TEXT-DECORATION: none
}
.code {
	FONT-SIZE: 9px; COLOR: blue; FONT-FAMILY: tahoma, verdana, arial
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #294a7b; FONT-FAMILY: tahoma, verdana, arial
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #294a7b; FONT-FAMILY: tahoma, verdana, arial
}
.content {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.title {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma
}
A.title:link {
	FONT-SIZE: 11px; COLOR: #003c5e; FONT-FAMILY: Tahoma
}
A.title:active {
	FONT-SIZE: 11px; COLOR: #003c5e; FONT-FAMILY: Tahoma
}
A.title:visited {
	FONT-SIZE: 11px; COLOR: #003c5e; FONT-FAMILY: Tahoma
}
A.title:hover {
	FONT-SIZE: 11px; COLOR: #003c5e; FONT-FAMILY: Tahoma
}
.indexhometext {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial
}
.articlehometext {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #373737; FONT-FAMILY: Arial
}
.footmsg {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003c5e; FONT-FAMILY: Arial
}
.tdmenu {
	BORDER-TOP: 1px solid; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9px; TEXT-TRANSFORM: uppercase; COLOR: #e4e4e4; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #0168b3; BORDER-RIGHT-WIDTH: 1px
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
INPUT.button {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.postbody {
	LINE-HEIGHT: 18px
}
.baihat {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.baihat:hover {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.head        { color: #ffffff; 
               text-transform: capitalize; font-weight: bold; font-size: 11px; 
               border-bottom: 1 solid; color:#ffffff; padding-left: 1px;text-align:justify;}
}
.dropshadow{
	FONT-SIZE: 11px; COLOR: #333333; FILTER: dropshadow(color=#FAFAFA, offx=1.3, offy=1.3, positive=true); HEIGHT: 7px
}
.nenxanh1 {
	BACKGROUND-COLOR: #b5d6f7
}
.nenxanh2 {
	BACKGROUND-COLOR: #3174a5
}
.nenxam2 {
	BACKGROUND-COLOR: #bdbdbe
}
.nenxanh3 {
	BACKGROUND-COLOR: #4b9be0
}
.nenxanh4 {
	BACKGROUND-COLOR: #035297
}